
<div class="container" style="padding: 10px">
  <h2>Add new vehicle</h2>
  <form>
    <div class="form-group">
      <label style="font-size: 1.3em">Vehicle name</label>
      <input type="text" class="form-control" #name>
    </div>
    <div class="form-group">
      <label style="font-size: 1.3em">Line</label>
      <input type="number" class="form-control" #line>
    </div>
    <div class="form-group">
      <label style="font-size: 1.3em">Low floor</label>
      <input type="checkbox" id="floor" class="form-control" #floor>
    </div>
    <div class="form-group">
      <label style="font-size: 1.3em">Night Line</label>
      <input type="checkbox" id="night" class="form-control" #night>
    </div>
    <button id="cre" type="button" class="badge badge-danger" (click)="upload(name, line, floor, night)" class="btn btn-primary">ADD VEHICLE</button>
  </form>
</div>
